replicaCount: 2

image:
  repository: mycontainergitops.azurecr.io/dotnet-gitops-app
  tag: 20260114010806-771ac5d
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
