apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dotnet-gitops-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/reniciuspagotto/dotnet-gitops-app.git
    targetRevision: main
    path: k8s
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
