name: Deploy ArgoCD App

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-argocd-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ secrets.AKS_RESOURCE_GROUP }}
          cluster-name: aks-gitops-practice

      - name: Apply ArgoCD Application
        run: |
          kubectl apply -f argocd/application.yaml

      - name: Verify Application
        run: |
          kubectl get application dotnet-gitops-app -n argocd
